*{
  margin: 0;
  padding: 0;
}
section{
  height: 100vh;
  background-image: url(./bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  transition: 1s;
}
.center{
  display: inline-block;
  text-align: center;
  font-size: 30px;
}
.center button{
  margin-top: 50px;
  padding: 8px 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(118, 209, 13);
  width: 200px; 
  border: 0px;
}
.center button:hover{
  cursor: pointer;
}
.m-p{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
 }
 .m{
  background: white;
  width: 60%;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  animation: 1s drop;
 }
 @keyframes drop{
  0%{
    top:-100px;
  }
  100%{
    top:50%;
  }
 }
 .x{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
 }
